$darkBlue: hsl(240, 38%, 20%);
$grayishBlue: hsl(240, 18%, 77%);

.fw-300 {
    font-weight: 300;
}
.fw-500 {
    font-weight: 500;
}
.fw-700 {
    font-weight: 700;
}
body {
    font-size: 28px;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    background-image: url("../images/pattern-curve.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
}

.content {
}

.padding-container {
    padding-left: 32px;
    padding-right: 32px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding: 24px;
    margin-top: 30px;
    background-image: url("../images/pattern-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100%;
    .mySlides {
        display: none;

        img {
            vertical-align: middle;
            border-radius: 6px;
            box-shadow: -1px 38px 107px -16px rgba(32, 32, 70, 0.48);
            -webkit-box-shadow: -1px 38px 107px -16px rgba(32, 32, 70, 0.48);
            -moz-box-shadow: -1px 38px 107px -16px rgba(32, 32, 70, 0.48);
        }
    }
    .buttons {
        /* Next & previous buttons */
        width: 100%;
        display: flex;
        top: 100%;
        justify-content: center;

        .prev,
        .next {
            cursor: pointer;
            width: auto;
            padding: 1.25em 1.25em;
            margin-top: -22px;
            color: $grayishBlue;
            background-color: rgb(255, 255, 255, 0.9);
            font-weight: bold;
            font-size: 18px;
            transition: all 0.06s ease-in-out;

            border-radius: 2.25em 0 0 2.25em;
            // user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
            border-radius: 0 2.25em 2.25em 0;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
            background-color: rgb(255, 255, 255);
        }
    }
}

.description-container {
    margin-bottom: 2em;
    padding-top: 1em;
    padding-bottom: 1em;

    .my-description {
        background-image: url("../images/pattern-quotes.svg");
        background-repeat: no-repeat;
        background-position: center top;
        padding-top: 2em;
        padding-bottom: 2em;
        display: none;
        flex-direction: column;
        text-align: center;
        line-height: 1.2;
        color: $darkBlue;
        h2 {
            font-size: 1em;
            margin-bottom: 1.2em;
        }
        .name-title {
            display: flex;
            flex-direction: column;
            h3 {
                font-size: 0.7em;
                margin-bottom: 0.7em;
            }
            h4 {
                font-size: 0.7em;
                color: $grayishBlue;
            }
        }
    }
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 1440px;
        margin: 0 auto;
    }
    .padding-container {
        padding-left: 120px;
        padding-right: 0;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .slideshow-container {
            grid-column: 2/3;
            grid-row: 1/2;
            margin-top: 50x;
            padding-top: 2.5em;
            padding-left: 0.25em;
            padding-right: 1.25em;
            background-size: 100%;
            .buttons {
                justify-content: flex-start;
                .prev {
                    margin-left: 3em;
                }
            }
        }
        .description-container {
            position: relative;
            z-index: 2;
            grid-column: 1/2;
            grid-row: 1/2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0;
            .my-description {
                text-align: left;
                background-position: left 80px top;
                h2 {
                    z-index: 2;
                    width: 110%;
                }
            }
        }
    }
}

@media screen and (min-width: 1037px) {
    body {
        font-size: 32px;
    }
    .content {
        .description-container {
            .my-description {
                .name-title {
                    flex-direction: row;
                    h4 {
                        margin-left: 0.5em;
                    }
                }
            }
        }
    }
}
